services:
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - 9080:80
      - 9443:443
    volumes:
      # - ./nginx.conf:/etc/nginx/nginx.conf
      - ./site:/usr/share/nginx/html
    networks:
      - web
  
  cloudflare:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    env_file: .env
    networks:
    - web

networks:
  web:
    external: true