body
{
	margin: 0px;
	background-color: #EBEBEB;
	font-family: Helvetica, sans-serif, Arial;
}

h1
{
	font-size: 60px;
	text-align: center;
}

h2
{
	text-align: center;
	color: #9D079C;
}

.gap
{
	height: 40px;
}


.menuPrincipal
{
	background-color: #9D079C;
	padding: 20px 3%;
	display: flex;
	align-items: center;
}

.boutonMenuPrincipal
{
	/*background-color: aucune?*/
	border-radius: 10px;
	padding: 10px 1%;
	margin: 0px 10px;
	
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.boutonMenuPrincipal:hover
{
	background-color: #80057F;
}


.contenu
{
	margin: 40px 100px 40px 100px; /*haut, droite, bas, gauche*/
	background-color: darkblue;
	color: white;
}


.header
{
	background-image: url('images/photoGroupe.jpg');
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); /*Ajuster le alpha pour une image + ou - sombre.*/
	background-blend-mode: darken;
	background-position: center;
	background-attachment: local;
	padding: 200px; /*taille de la bannière*/
	
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}


.separateur
{
	color: #9D079C;
	border-top: 5px solid;
	margin: 0px 45%;
}


.footer
{
	padding: 20px 50px 10px 50px;
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	color: white;
	
	/*Rapetisse les logos pour ne pas qu'ils soient trop énormes sur les grands écrans:*/
	@media (min-width: 1250px)
	{padding: 20px 5% 30px 5%;}
	
	@media (min-width: 1500px)
	{padding: 20px 10% 30px 10%;}
}

.colonneFooter
{
	width: 30%;
	margin: 3%;
	text-align: center;
}

.titreFooter
{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.lienFooter
{
	color: white;
	text-decoration: none;
}

.copyright
{
	background-color: #323F44;
	padding: 20px 0px;
	text-align: center;
	
	color: #A4A4A4;
	font-size: 14px;
}

/* Couleur principale: #9D079C */