.terminal
{
	background-color: #4a4a4d; 
	border: 5px solid #9D079C;
	margin: 1em;
	padding: 0;
	text-align: center;

	color: rgb(211, 211, 211);

	font-family: 'Courier New', Courier, monospace;
	/*font-size: 1.1em;*/
	border-radius: 1.5em;
	box-shadow: 0 0.5em 1em #0003;
	overflow: hidden;
}

.terminal header
{
	display: flex;
	justify-content: end;
	background-color: #38383a;
	padding: 0.5em
}

.terminal header h2
{
	color: rgb(211, 211, 211);
	flex-grow: 1;
}

.terminal p
{
	color: rgb(181, 181, 181);
}

.terminal .bouton
{
	/*border-radius: 0;*/ /*Non-nécessaire, je crois*/
	box-shadow: 0.25em 0.5em 0 #0003;
	transition: 0ms;
}

.terminal .bouton:hover
{
	box-shadow: 0.1em 0.2em 0 #0003;
}

.terminal img
{
	width: 100%;
	/*box-shadow: 0.5em 1em 0 rgba(0, 0, 0, 0.3);*/
	box-shadow: 0 0.5em 1em #0003; /*Je trouve que c'est plus beau quand c'est plus léger...*/
}

.contenu-terminal
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.boutons-terminal
{
	display: flex;
	align-items: center;
}

.bouton-terminal
{
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: rgb(211, 57, 57); /*couleur à overrider dans le HTML*/
	margin-right: 0.5em;
	
	cursor: pointer;
}